node.year {
	shape: triangle;
	text-mode: normal;
}
node.keyword {
	shape: circle;
}

node.blue {
	fill-color : blue;
	z-index : 2;
	size : 20px;
}

node.green {
	fill-color : green;
	z-index : 3;
	size : 25px;
}

node.yellow {
	fill-color : yellow;
	z-index : 4;
	size : 30px;
}

node.orange {
	fill-color : orange;
	z-index : 5;
	size : 35px;
}

node.red {
	fill-color : red;
	z-index : 6;
	size : 40px;
}

node.year_transparent {
	shape: triangle;
	fill-color: #FF000022;
	text-mode: hidden;
}
node.keyword_transparent {
	size: 15px;
	fill-color : #0000FF22;
}
edge {
	shape: line;
	arrow-size : 1px, 1px;
	fill-color : #222222;
}
edge.transparent {
	shape: line;
	arrow-size : 1px, 1px;
	fill-color : #22222210;
}